.idea
.idea/*
db.sqlite3
.DS_Store
apps/*/migrations/*
*.swp
*.pyc
node_modules/*
dist
statics/.DS_Store
statics/node_modules
config/config.ini
AIS/*
ais_testmodule/*
singleantv2.0.1/*
doubleantv2.0.1/*
checkprob/*
devops/AISSig/*
devops/result.txt
distri_plot/*
devops/checkprob_result/*
devops/plot&Data/*
后台接口.docx
single_ant_demod/*



