<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" >选择解调方式</h4>
         </div>
        <div class="modal-body">
            <table class="table table-bordered text-center" id="">
                <thead>
                    <tr>
                        <th class="text-center active">type_name_de</th>
                        <th class="text-center active">ant_num_de</th>
                        <th class="text-center active">protocol_de</th>
                        <th class="text-center active">sync_type</th>
                        <th class="text-center active" style="display: none">type_id</th>
                    </tr>
                </thead>
                <tbody>
                {% if demo_list %}
                    {% for demo in demo_list %}
                    <tr>
                        <td>
                            <input name="type" type="radio" value="{{ demo.demod_type_name }}">{{ demo.demod_type_name }}
                        </td>
                        <td>{{ demo.ant_num }}</td>
                        <td>{{ demo.protocol }}</td>
                        <td>{{ demo.sync_type }}</td>
                        <td style="display: none">{{ demo.demod_type_id }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="addClose">Close</button>
            <button type="button" class="btn btn-primary" id="addOK">OK</button>
        </div>
     </div>
</div>
