{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{% static "bz/vendor/bootstrap/dist/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "bz/vendor/fontawesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "bz/base.css" %}">

		<title>AIS平台</title>
	</head>
<!-------------------------------------------------------body----------------------------------------------------------------->
	<body>
		<div class="wrapper-ais "><!--总页面-->
			<div class="left-container "><!--左边总侧栏-->
				<div class="side-navbar">
					<div class="side-heading text-center "><!--左上-->
						<p>AIS平台</p>
        			</div>
	        		<div class="side-nav container"><!--左下-->
			            <ul class="nav nav-stacked nav-pills">
			                <li  id="modul_btn"><a href="newindex"><span class="fa fa-user"></span>调制</a></li>
			                <li  id="demodul_btn"><a href="demodul"><span class="fa fa-user"></span>解调</a></li>
			                <li  id="analy_btn" class="active"><a href="analysis"><span class="fa fa-user"></span>分析</a></li>
			            </ul>
	        		</div>
    			</div>
			</div>
			<div class="right-container">
				<div class="top-nav">
					 <div class="nav navbar-nav myNav">
                        <span ><a href="#"><span class="fa fa-user"></span>Super</a> </span>
                        <!--<span ><a href="#"><span class="fa fa-flag "></span>注册</a> </span>-->
                        <span ><a href="#"><span class="fa fa-cogs"></span>退出</a> </span>
                    </div>
				</div>
				<div class="main">
     <!-------------------------------------------------分析页面------------------------------------------------------------------->
			        <div id="ais_analysis" >
                        <div class="panel-default control_button panel-body"><!--2016.5.16这里去掉了一个panel类-->
	                        <span class=" myPanel">
{#	                            <a href="paramAnalysis.html" target="_blank" onclick="return newlink()">#}
                                    <button type="button"  class="handle btn btn-info pull-right noclick"
                                           id="paramAnalysis">参数分析</button>
{#                                </a>#}
	                        </span>
	                        <span class="myPanel">
{#                                <a  href="demodulResult.html" target="_blank" ">#}
	                                <input type="button" class="handle btn btn-info pull-right noclick"
                                           id="demodulResult" value="解调结果">
{#                                </a>#}
	                        </span>
	                        <span class="myPanel">
	                                <input type="button" class="handle btn btn-info pull-right noclick"
                                           id="checkPro" value="检测概率">
	                        </span>
						</div>
                        <div class="panel panel-default modul_contain ">
                    	    <table class="table table-bordered text-center" id="showTable">
		                        <thead>
		                            <tr>
                                        <th class="text-center active"> signal_id</th>
		                                <th class="text-center active"> demod_type_id</th>
                                        <th class="text-center active"> status</th>
                                        <th class="text-center active"> 实际解调概率</th>
                                        <th class="text-center active"> 理论解调概率</th>
		                            </tr>
		                        </thead>
		                        <tbody>
                                    {% for demo in analysis_list %}
                                    <tr>
                                        <td><input type="checkbox">{{ demo.signal_id }}</td>
                                        <td>{{ demo.demod_type_id }}</td>
                                        <td>{% if demo.status %}{{ demo.status }}{% endif %}</td>
                                        <td>{% if demo.demod_prob_fact %}{{ demo.demod_prob_fact }}{% endif %}</td>
                                        <td>{% if demo.demod_prob_theory %}{{ demo.demod_prob_theory }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
		                        </tbody>
		                    </table>
                        </div>
			        </div>
				</div>
			</div>
		</div>
<!----------------------------------------------addModal1--------------------------------------------------------------------->
		<div id="addModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
<!-------------addModalDemodul--------------------------------------------------------------------------------------------------->
        <div id="addModalDemodul" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
<!-------------addModalType--------------------------------------------------------------------------------------------------->
        <div id="addModalType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
<script type="application/javascript" src="{% static "bz/vendor/jquery/dist/jquery.js" %}"></script>
<script type="application/javascript" src="{% static "bz/vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
<script type="application/javascript" src="{% static "bz/base.js" %}" charset="UTF-8"></script>
<script type="application/javascript" src="{% static "bz/analysis.js" %}" charset="UTF-8"></script>
	</body>
</html>