{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>three.js webgl - draggable cubes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>
            body {
                font-family: Monospace;
                background-color: #f0f0f0;
                margin: 0px;
                overflow: hidden;
            }
        </style>
    </head>
        <script src="{% static "js/extends/three.js" %}"></script>
        <script src="{% static "js/extends/three.min.js" %}">

        </script>
        <script src="{% static "js/extends/OrbitControls.js" %}"></script>


        <script>
            function draw3D()  {
                var controls;

                function animate() {
                  requestAnimationFrame(animate);

                  //pyramid.rotateY(Math.PI/180);
                  //multi.rotateY(Math.PI/480);
                  renderer.render(scene, camera);
                }
                function updateControls() {
                  controls.update();
                }

                var multi = new THREE.Object3D();
                var Height = [[1, 2, 3],[3, 2, 1], [1, 2, 3]];
                var max_height = Height[0][0];
                var min_height = Height[0][0];
                for(var i = 0; i < Height.length; i++){
                    for(var j = 0; j < Height[0].length; j++){
                        if(Height[i][j] > max_height){
                            max_height = Height[i][j];
                        }
                        if(Height[i][j] < min_height){
                            min_height = Height[i][j];
                        }
                    }
                }
                console.log(max_height);
                console.log(min_height);
                for(var i = 0; i < Height.length; i++){
                    for(var j = 0; j < Height[0].length; j++){
                        var geo = new THREE.CubeGeometry(1, Height[i][j], 1);
                        var faceColors = [0xff0000, 0x00ff00, 0x0000ff, 0xffff00, 0xffff00, 0xffff00];
                        faceColors.forEach( function(color, idx) { geo.faces[2 * idx + 1].color.setHex(color);
                        geo.faces[2 * idx].color.setHex(color)});
                        console.log(faceColors);
                        var pyramid = new THREE.Mesh(geo, new THREE.MeshBasicMaterial({vertexColors: THREE.FaceColors}));
                        pyramid.position.set(0.5+i, 0.5 * Height[i][j], 0.5+ j);
                        multi.add(pyramid);
                    }
                }

                var camera = new THREE.PerspectiveCamera(  45, 1024/500,0.1, 100);
                camera.position.z = 10;
                camera.position.y = 1;

                controls = new THREE.OrbitControls( camera );
                controls.addEventListener( 'change', updateControls );

                //var multi = new THREE.Object3D();
{#                pyramid.castShadow = true; pyramid.castShadow = true;#}
                multi.position.z = 0;

{#                geo = new THREE.PlaneGeometry(20, 25);#}
{#                var floor = new THREE.Mesh(geo, new THREE.MeshBasicMaterial({color :0xcfcfcf}));#}
{#                floor.material.side = THREE.DoubleSide;#}
{#                floor.rotation.x = Math.PI/2;#}
{#                floor.position.y = -2;#}
{#                floor.receiveShadow = true;#}

                var light = new THREE.DirectionalLight(0xe0e0e0);
                light.position.set(5,2,5).normalize();
                light.castShadow = true;
                light.shadowDarkness = 0.5;
                light.shadowCameraRight = 5;
                light.shadowCameraLeft = -5;
                light.shadowCameraTop = 5;
                light.shadowCameraBottom = -5;
                light.shadowCameraNear = 2;
                light.shadowCameraFar = 100;

                var scene = new THREE.Scene();
{#                scene.add(floor);#}
                scene.add(multi);
                scene.add(light);
                scene.add(new THREE.AmbientLight(0x101010));

                var div = document.getElementById("shapecanvas2");

                var renderer = new THREE.WebGLRenderer();
                renderer.setSize(1024,500);
                renderer.setClearColor(0x000000, 1);
                renderer.shadowMapEnabled = true;
                div.appendChild( renderer.domElement );
                animate();

              }

</script>

</head>
<body onload="draw3D();">

  <span id="shapecanvas2" style="border: none;" width="1024" height="500"></span>

  <br/>
  </body>

</html>