{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星载AIS仿真平台</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/rewrite.css" %}">
    <style>
        body { margin: 1000px; }
        canvas { width: 100px; height: 100px }
    </style>
</head>
<body>
    <!--头部通用-->
    <header id="header">
    </header>
    <section id="bodyContain">
        <!--左侧目录通用-->
        <aside id="aside">
        </aside>
        <!--右侧目录通用-->
        <section id="content">

        </section>
    </section>
    <script type="text/javascript" src="{% static "js/extends/three.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/extends/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "public/build/chart.min.js" %}"></script>
    <script type="text/javascript" src="{% static "public/build/index.js" %}"></script>
    <script type="text/javascript" src="{% static "public/build/jquery.nanoscroller.min.js" %}"></script>
    <script type="text/javascript" src="{% static "public/build/kalendae.standalone.min.js" %}"></script>

</body>
</html>