{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{% static "bz/vendor/bootstrap/dist/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "bz/vendor/fontawesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "bz/base.css" %}">
		
		<title>AIS平台</title>
		<style>
		.left-container{ ;
			float: left;
			width: 20%;
			height: 725px;
		}
		.top-nav{
			padding-right: 40px;
			height: 60px;
			background:#eee ;
		}
		.myNav{
			line-height: 60px;
			}
		.myNav span{
			margin-right: 10px;
			}
		@media (min-width: 700px){ 
			.myNav{
				float: right;
			}
		}
		@media (max-width: 700px) { 
			.top-nav{
				text-align: center;
			}
		}
		.main{
			padding: 0 20px 20px 20px;
		}
		.myPanel{
			float: left;
			padding: 0 5px 0 0;
		}
		
	</style>
	</head>
<!-------------------------------------------------------body----------------------------------------------------------------->
	<body>
		<div class="wrapper-ais "><!--总页面-->
			<div class="left-container "><!--左边总侧栏-->
				<div class="side-navbar">
					<div class="side-heading text-center "><!--左上-->
						<p>AIS平台</p>
        			</div>
	        		<div class="side-nav container"><!--左下-->
			            <ul class="nav nav-stacked nav-pills">
			                <li class="active" id="modul_btn"><a href="#"><span class="fa fa-user"></span>调制</a></li>
			                <li  id="demodul_btn"><a href="#"><span class="fa fa-user"></span>解调</a></li>
			                <li  id="analy_btn"><a href="#"><span class="fa fa-user"></span>分析</a></li>
			            </ul>
	        		</div>
    			</div>
			</div>
			<div class="right-container">
				<div class="top-nav">
					 <div class="nav navbar-nav myNav">
                        <span ><a href="#"><span class="fa fa-user"></span>Super</a> </span>
                        <!--<span ><a href="#"><span class="fa fa-flag "></span>注册</a> </span>-->
                        <span ><a href="#"><span class="fa fa-cogs"></span>退出</a> </span>
                    </div>
				</div>
				<div class="main">
					<div id="ais_modulation">
						<div class="panel-default control_button panel-body"><!--2016.5.16这里去掉了一个panel类-->
	                        <span class=" myPanel qq">
	                            <button onclick="addmodel()" type="button"  class="handle btn btn-info pull-right"
                                        data-toggle="modal" data-target="#addModal1" id="add">创建信号</button>
	                        </span>
	                        <span class="myPanel">
	                            <input type="button" class="handle btn btn-warning pull-right" id="delete" value="删除信号" />
	                        </span>
	                        <span class="myPanel">
	                            <input type="button" class="handle btn btn-success pull-right" id="demodul" value="解调信号"></input>
	                        </span>
						</div>
						<div class="panel panel-default modul_contain ">
                    	    <table class="table table-bordered text-center" id="showTable">
		                        <thead>
		                            <tr>
{#                                        <th class=">#}
                                        <td><input type="checkbox"></td>
		                                <th class="text-center active"> 信号名</th>
                                        <th class="text-center active"> 信号ID</th>
		                                <th class="text-center active">状态</th>
		                                <th class="text-center active">大小</th>
		                                <th class="text-center active">创建时间</th>
		                            </tr>
		                        </thead>
		                        <tbody>
                                  {% for infoIndex in Info %}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{{ infoIndex.name_signal }}</td>
                                            <td>{{ infoIndex.signal_id }}</td>
                                            <td>{{ infoIndex.status }}</td>
                                            <td>{{ infoIndex.size }}</td>
                                            <td>{{ infoIndex.create_time }}</td>
                                        </tr>
                                    {% endfor %}
		                        </tbody>
		                    </table>
                        </div>
                        <div class="text-center pagefooter">
                        	<ul class="pagination">
                        		<li><a href="#">&laquo;</a></li>
                        		<li><a href="#">1</a></li>
                        		<li><a href="#">2</a></li>
                        		<li><a href="#">3</a></li>
                        		<li><a href="#">4</a></li>
                        		<li><a href="#">&raquo;</a></li>
                        	</ul>
                        </div>
                     </div>
					
     <!-------------------------------------------------解调页面------------------------------------------------------------------->
            		<div id="ais_demodulation" class="hidden ">
            			解调页面
            		</div>
     <!-------------------------------------------------分析页面------------------------------------------------------------------->
			        <div id="ais_analysis" class="hidden">
			                        分析页面
			        </div>
				</div>
			</div>
		</div>
<!----------------------------------------------addModal1--------------------------------------------------------------------->
		<div id="addModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
<!-------------addModal2--------------------------------------------------------------------------------------------------->    #}
{#        <!--<div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                        <h4 class="modal-title" id="myModalLabel">创建新数据</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <table class="table table-bordered" id="addTable">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <th class="text-center">ID</th>#}
{#                                <td><input class="form-control" id="idinput" type="text"  placeholder="请输入-100到100的数字"> #}
{#                                	<span><span id="idcheck" class="check fa fa-check"></span></span>#}
{#                                </td>#}
{#                               #}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th class="text-center">信号名</th>#}
{#                                <td><input class="form-control" id="signalinput" placeholder="请输入-180到180的数字" type="text">#}
{#                                	<span><span id="signalcheck" class="check fa fa-check"></span></span>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th class="text-center">状态</th>#}
{#                                <td><input class="form-control" type="text"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th class="text-center">信号大小</th>#}
{#                                <td><input class="form-control" type="text"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th class="text-center">创建时间</th>#}
{#                                <td><input class="form-control" type="text"></td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal" id="addClose">Close</button>#}
{#                        <button type="button" class="btn btn-primary" id="addOK">OK</button>#}
{#                    </div>#}
{#	                    #}
{#                </div>#}
{#            </div>#}
{#        </div>-->#}
<script type="application/javascript" src="{% static "bz/vendor/jquery/dist/jquery.js" %}"></script>
<script type="application/javascript" src="{% static "bz/vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
<script type="application/javascript" src="{% static "bz/base.js" %}" charset="UTF-8"></script>
	</body>
</html>
