{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">#}
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'>
    <link rel='stylesheet' type='text/css' href='http://www.x3dom.org/x3dom/release/x3dom.css'>
    <link rel="stylesheet" href="{% static "bz/vendor/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bz/vendor/fontawesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "bz/base.css" %}">
    <link rel="stylesheet" href="{% static "bz/paramAnalysis.css" %}">
    <title>Title</title>
</head>
<body>
    <div class="wrapper-ais ">
			<div class="left-container ">
				<div class="side-navbar">
					<div class="side-heading text-center ">
						<p>AIS平台</p>
        			</div>
	        		<div class="side-nav ">
			            <ul class="nav nav-stacked nav-pills">
			                <li  id="modul_btn"><a href="newindex"><span class="fa fa-user"></span>调制</a></li>
			                <li  id="demodul_btn"><a href="demodul"><span class="fa fa-user"></span>解调</a></li>
			                <li  id="analy_btn" class="active"><a href="analysis"><span class="fa fa-user"></span>分析</a></li>
			            </ul>
	        		</div>
    			</div>
			</div>
			<div class="right-container">
				<div class="top-nav">
					 <div class="nav navbar-nav myNav">
                        <span ><a href="#"><span class="fa fa-user"></span>Super</a> </span>
                        <!--<span ><a href="#"><span class="fa fa-flag "></span>注册</a> </span>-->
                        <span ><a href="#"><span class="fa fa-cogs"></span>退出</a> </span>
                    </div>
				</div>
				<div class="main container-fluid">
                    <div class="me">基本信息</div>
                    <div class="analysisTable">
                       <div class=" modul_contain paramMessage">
                            <table  class="table-condensed text-center ">
                                <tbody>
                                    <tr>
                                        <th class="text-center ">signal_id:</th>
                                        <td>{{ signal_id }}</td>
                                        <td></td>
                                        <th class="text-center ">lat:</th>
                                        <td>{{ lat }}</td>
                                        <td></td>
                                        <th class="text-center ">ant_type:</th>
                                        <td>{{ ant_type }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center ">height:</th>
                                        <td>{{ height }}</td>
                                        <td></td>
                                        <th class="text-center ">lon:</th>
                                        <td>{{ lon }}</td>
                                        <td></td>
                                        <th class="text-center ">ant_pitch:</th>
                                        <td>{{ ant_pitch }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center ">vesnum:</th>
                                        <td>{{ vesnum }}</td>
                                        <td></td>
                                        <th class="text-center ">snr:</th>
                                        <td>{{ snr }}</td>
                                        <td></td>
                                        <th class="text-center ">ant_azimuth:</th>
                                        <td>{{ ant_azimuth }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center ">obtime:</th>
                                        <td>{{ obtime }}</td>
                                        <td></td>
                                        <th class="text-center ">protocol:</th>
                                        <td>{{ protocol }}</td>
                                        <td></td>
                                        <th class="text-center ">channel_type:</th>
                                        <td>{{ channel_type }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="side-nav">
                        <ul class="nav">
                            <li ><button class="btn-link btn-lg"><span id="ves_distribute" >船舶分布图</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="power">功率</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="delay">时延</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="doppler">频偏</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="doa">DOA</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="view">视场图</span></button></li>
                            <li ><button class="btn-link btn-lg"><span id="ant_gain">天线增益</span></button></li>
                        </ul>
                    </div>
                    <div class="pic">
                        <div class="load"><h6>提示：左边点击之后请稍等几秒钟</h6></div>
{#                        {% if param == "2" or param == "3" %}#}
                        <div class="picture"><iframe class="iframe" frameborder=0 height="470px" width="470px" src=""></iframe></div>
{#                        {% endif %}#}
{#                        {% if param == "1" %}#}
                        <div class="jpg"><img src="{{ url }}"></div>
{#                        {% endif %}#}
                    </div>
                </div>
			</div>
		</div>


<script type="application/javascript" src="{% static "bz/vendor/jquery/dist/jquery.js" %}"></script>
<script type="application/javascript" src="{% static "bz/vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
<script type="application/javascript" src="{% static "bz/base.js" %}" charset="UTF-8"></script>
<script type="application/javascript" src="{% static "bz/paramAnalysis.js" %}"></script>
{#<script type='text/javascript' src='http://www.x3dom.org/x3dom/release/x3dom.js'></script>#}
</body>
</html>