.resultMessage{
    font-size: 18px;
    color: #337ab7;
    line-height: 1.3333333;
    padding: 10px 16px;
    float: left;
    height: 165px;
    width:25%;
}
.messageTable{
    padding-top: 10px;
    float: right;
    height: 100px;
    width:75%;
    text-align: center;
}
.messageTableBody{
    display: inline-block;
}
.side-nav{
    width:25%;
    height: 500px;
    float: left;
    padding: 10px 16px;
}
.resultPic{
    font-size: 18px;
    color: #337ab7;
    line-height: 1.3333333;
}
#pic {
    float: right;
    width: 75%;
    text-align: center;
}
#picture{
    display: inline-block;
}
.resultTable{
    float: right;
    width:75%;
    text-align: center;
}
.resultTableBody{
    display: inline-block;
}

td{
    width: 50px;
}
